@import 'variables';

.button {
    display: inline-block;
    position: relative;
    padding: 12px 24px;
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
    overflow: hidden;
    transition: all .3s ease;
    z-index: 1;

    &.fas, &.fab {
        font-size: 1.4em;
        vertical-align: middle;
    }

    &:before {
        content: '';
        width: 0;
        height: 100%;
        background-color: $color-secondary;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        transition: all .3s ease;
    }

    &:hover:before {
        width: 100%;
    }

    i {
        font-size: 1.5em;
        line-height: 1.3em;
        margin-left: .3em;
        vertical-align: top;
    }
}

.alert {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 8px;
    margin: 24px 8px;

    p {
        margin: 0;
        padding: 0 16px;
    }

    h3 {
        text-align: center;
        width: 100%;
        padding: 8px 0 16px;
        margin: 0;
    }

    .icon i {
        font-size: 2rem;
        line-height: 1.8rem;
        vertical-align: top;
    }
}
