@import 'variables';

header {
    padding: 3rem 0;

    p {
        text-align: center;
        padding: 0;
    }

    .title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        .logo {
            background: url('../images/logo.png') no-repeat center;
            background-size: $size-logo-clipping;
            width: $size-logo;
            height: $size-logo;
            border-radius: 100%;
        }

        h1 {
            margin: 0;
            padding: 32px 24px;

            span {
                display: block;
            }
        }
    }
}

main {
    padding: 16px;

    section {
        padding: 1rem .5rem;

        p {
            text-indent: 1em;
        }
    }

    > .container > section > *:not(h2) {
        margin: 0 2rem;
    }
}

footer {
    padding: 1rem 2rem;

    * {
        display: block;

        &:first-child {
            flex-grow: 1;
        }
    }

    p {
        display: flex;
    }

    a {
        font-size: 1.3em;
        line-height: 1.3em;
        padding: 0 4px;
    }
}

h2 {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &:before, &:after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: $color-secondary;
        display: block;
        margin: 16px;
    }
}

dl > div {display: flex;
    flex-wrap: nowrap;

    > * {
        display: block;
        padding: .3rem;
        line-height: 1.4em;
        letter-spacing: .05em;
    }

    > dt {
        font-weight: bolder;
        flex-shrink: 0;
    }

    > dd {
        margin-left: 1em;
    }
}

img {
    max-width: 100%;
}

p, figure {
    padding: 16px 0;
    margin: 0;
}

li, p, figure {
    font-size: 17px;
    line-height: 2rem;
}

figure {
    text-align: center;

    figcaption {
        margin-top: .5rem;
    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > * {
        padding: 8px;
    }
}
