@font-face {
  font-family: 'sushiki';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/sushiki.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sushiki.woff') format('woff'),
  url('../fonts/sushiki.ttf')  format('truetype'),
  url('../fonts/sushiki.svg#sushiki') format('svg');
}
