$color-primary: #ffdd57;
$color-secondary: #4c493d;
$color-light: #fffbeb;
$color-dark: #947600;
$color-translucent: #ffffffdd;
$color-twitter: #00acee;
$color-facebook: #1778f2;
$color-line: #00b900;

$size-logo: 256px;
